<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Site{% endblock %}</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'surveys:list' %}">Опросы</a></li>
                <li><a href="{% url 'auth:info' %}">Аккаунт</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
